@use "../foundation/mixin";

$raise:#4298B3; 
$raise_hover:#F3FAFB;


/*header*/

.l-header {
    width   : 100%;
    display : flex;
    justify-content : space-between;
    background-color: #fff;
    z-index : 1100;
    position: fixed;
    top : 0;
    left: 0;
    }

.l-headerlogo p a {
    line-height: 1.3;
    font-weight: 600;
    height: 50px;
    align-content: center;
    align-items: center;
    display: flex;

    span{
        margin-left: 16px;
        font-size: 1.6rem;
        white-space: nowrap;
    }
}

strong{
    font-size: 1.8rem;
}




.l-headerlogo{
    margin: 0 0 0 21px;
    padding-left: 10px;
    display: flex;
    align-content: center;
    align-items: center;

    > p{
        margin-bottom: 0;
        
       > a{
            > img {
                height: 30px;
                width: auto;
                vertical-align: bottom;
            }

            > span{
                @media screen and (max-width:1200px) {
                    display: none;        
        }
    }

    &p a span {
        margin-left: 15px;
        font-size: 1.4rem;
        white-space: nowrap;
    }

        }
    }
}

