@use "../foundation/mixin";

$raise:#4298B3; 
$raise_hover:#F3FAFB;


/*header*/

.l-header {
    width   : 100%;
    display : flex;
    justify-content : space-between;
    background-color: #fff;
    z-index : 1100;
    position: fixed;
    top : 0;
    left: 0;
    }

.l-headerlogo p a {
    line-height: 1.3;
    font-weight: 900;
    height: 70px;
    align-content: center;
    align-items: center;
    display: flex;

    span{
        margin-left: 16px;
        font-size: 1.6rem;
        white-space: nowrap;
    }
}

strong{
    font-size: 1.8rem;
}




.l-headerlogo{
    margin: 0 0 0 21px;
    padding-left: 10px;
    display: flex;
    align-content: center;
    align-items: center;

    &img{
        height: 30px;
        width: auto;
        vertical-align: bottom;
    }

    &p{
        margin-bottom: 0;
    }

    &p a span {
        margin-left: 15px;
        font-size: 1.4rem;
        white-space: nowrap;
    }

    &span{
        @media screen and (max-width:1200px) {
            display: none;
        }
    }
}

/*nav*/

.l-nav{

    &__btn{
        display: none;
    }

    &__body{
        display: flex;

        @media screen and (max-width: 1200px){
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 999;
            background-color: #fff;
        }

        ul {
            list-style  : none;
            display     : flex;
            font-weight : normal;

            @media screen and (max-width: 1200px) {
                flex-direction: column;
            }

            li {
                position: relative;
                white-space: nowrap;

                &:hover{
                    color:#131D34;
                    background-color: #d4f1f8;    
                }  

                a {
                    display: flex;
                    padding: 0 10px;
                    height: 70px;
                    align-items: center;

                    @media screen and (max-width:1200px) {
                       left: 0;
                       right: 0;
                    }                    
                    }
                }

            }       
        }
        &__join {
            color:#ffff;
            @media screen and (max-width:1200px) {
                display: none;
            }
        }


    }



ul .sub-menu{
    position: absolute;
    top: 70px;
    z-index: 1000;

    @media screen and (max-width:1200px) {
        position: static;  
    }
    
    &.close{
        display: none;
    }
    
    li {
        background-color: #F3FAFB;
        font-weight: normal !important;

        &:hover{
            background-color: #fff;
            color: #2498B3 !important;
            }


        @media screen and (max-width:1200px) {
            background-color: #fff;
        }
        
        a {
            position: relative;
        }
    
    }
}

ul .l-nav__join a {
    color:#FFF;
    background-color: #2498B3;

    @media screen and (max-width:1200px) {
        display: none;
    }
}

//ハンバーガーメニュークリックイベント

.is-open{
    display: block;
}

@media screen and (max-width:1200px) {
    .menu-item > a::before {
        display : block;
        content : "";
        position: absolute;
        top     : 30px;
        right   : 13px;
        height  : 2px;
        width   : 24px;
        margin-top: -1px;
        background-color: #121212;
        z-index: 9;
    }

    @media screen and (max-width:1200px) {
        .menu-item > a::after {
            display     : block;
            content     : "";
            position    : absolute;
            top         : 30px;
            right       : 24px;
            height      : 24px;
            width       : 2px;
            margin-top  : -12px;
            background-color: #121212;

        }    
    }
.menu-item{
    &:hover{
        a::after{
            background-color: #F3FAFB;
        }
    }
}

.strong{
    font-size: 1.8rem;
}

        
}
