//main    

.l-nallow{
    padding: 64px 0;
    background-color: #000;
    z-index: 500;
    margin-top: 30px;
    @media screen and (max-width:1200px) {
        padding: auto;
    }

}

.l-wrap{
    max-width: 1078px;
    margin: 0 auto;

    @media screen and (max-width:1078) {
        margin: 0 10px;
    }
}

.l-card{
    position: relative;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: -200px;
    z-index: 900;    

    @media screen and (max-width:767px){
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
}

.l-service{
    margin: 0 50px;
    width: 229px;

    @media screen and (max-width:1078px) {
        width: 29.33%;
        margin: 0 2%;
    }

    @media screen and (max-width:767px) {
        margin-bottom: 2.5rem;
        width: auto;
    }
}
    
.l-service__title{
    text-align: center;
    
}


.l-service__title .l-service__icon{
    display: flex;
    text-align: center;
    justify-content: center;
    width    : 230px;
    height   : 230px;
    color    : #000;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fff;
    border   : solid 6px #000;
    font-size: 100px;
    align-items: center;

    > p{
        > h2 {
            font-weight: 700;
            margin-top: 0.2rem;
            font-size: 2.4rem;
        }    
    }
}