@use "sass:math";

$btnWidth   : 20px;
$btnHeight  : 1px;
$raise      :#4298B3; 

/*ハンバーガーメニュー*/
.p-hamburger{
    width   : 60px;
    height  : 60px;
    position: relative;
    @media screen and (min-width : 769px)  {
        display: none;
    }
        
    &::before,
    &::after {
        content : "";
        width   : $btnWidth;
        height  : $btnHeight;
        background: $raise;
        position: absolute;
        left: calc( 50% - math.div( #{$btnWidth}, 2));
        display:block;
        transition: transform 0.2s;
    }
    &::before{
        top: 22px;
    }
    &::after {
        top:38px;
    }

    > span{
        width      : $btnWidth;
        height     : $btnHeight;
        font-size  : 0;
        position   : absolute;
        left       : calc( 50% - math.div( #{$btnWidth}, 2 ));
        top        : 50%;
        transition : transform 0.2s;
    }
    &.is-open{
        &::before{
            transform: rotate( 45beg );
            top      : 28px;
        }
        &::after{
            transform: rotate( -45beg );
            top      :  28px;
        }
        > span {
            background: none;
        }
    }

}

body.is-open{
    position: fixed;
}