.l-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    }

.l-headerlogo{
    margin: 0 0 0 21px;
    display: flex;

    &p {
        margin-bottom: 0;
    }

    &a{
        height: 70px;
        display: flex;
        align-content: center;
        align-items: center;

    }
}

.l-menu{
    display: flex;
    list-style: none;

    &item {
        box-sizing: border-box;
        width: 100%;
        margin:5px
    }
}


.l-submenu{
    background: white;
    display: none;
}