@use "../foundation/mixin";


/*header*/

.l-header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    }

.l-headerlogo{
    margin: 0 0 0 21px;
    padding-left: 10px;
    display: flex;
    align-content: center;
    align-items: center;

    &img{
        width: 160px;
        vertical-align: bottom;
    }

    &__p {
        margin-left: 15px;
        @media screen and (max-width: 1280px){
            display: none;
        }
    }

}

/*nav*/

.l-nav{

    &__btn{
        display: none;
    }

    &__body{
        display: flex;

        @media screen and (max-width: 1200px){
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 999;
            background-color: #fff;
        }

        ul {
            list-style: none;
            display: flex;

            @media screen and (max-width: 1200px) {
                flex-direction: column;
            }

            li {
                position: relative;
                white-space: nowrap;
               
                a {
                    display: flex;
                    padding: 0 10px;
                    height: 70px;
                    align-items: center;

                    @media screen and (max-width:1200px) {
                       left: 0;
                       right: 0;
                    }

                    &:hover{
                        color:#131D34;
                        background-color: #F3FAFB;    
                    }                        
                    }
                }

            }       
        }
        &__join a {
            color:#ffff;
        }


    }



ul .sub-menu{
    position: absolute;
    top: 70px;
    z-index: 1000;

    @media screen and (max-width:1200px) {
        position: static;  
    }
    
    &.close{
        display: none;
    }
    li{
        background-color: #D4F1F8;
        font-weight: normal;

        @media screen and (max-width:1200px) {
            background-color: #fff;
        }
        
        a{
            position: relative;
            
            &:hover{
                background-color: #F3FAFB;
                }
        }
    
    }
}

ul .l-nav__join a {
    color:#FFF;
    background-color: #2498B3;

    @media screen and (max-width:1200px) {
        display: none;
    }
}

//ハンバーガーメニュークリックイベント

.is-open{
    display: block;
}

@media screen and (max-width:1200px) {
    .menu-item > a::before {
        display : block;
        content : "";
        position: absolute;
        top     : 30px;
        right   : 13px;
        height  : 2px;
        width   : 24px;
        margin-top: -1px;
        background-color: #121212;
        z-index: 9;
    }

    @media screen and (max-width:1200px) {
        .menu-item > a::after {
            display     : block;
            content     : "";
            position    : absolute;
            top         : 30px;
            right       : 24px;
            height      : 24px;
            width       : 2px;
            margin-top  : -12px;
            background-color: #121212;

        }    
    }
.menu-item{
    &:hover{
        a::after{
            background-color: #F3FAFB;
        }
    }
}
        
}
